body {
    font-family: 'Albert Sans', sans-serif;
    margin: 0%;
}

p {
    font-size: 25px;
    color: tomato;
    background-color: lightblue;
    margin: 20%;
    border-radius: 5%;
    padding: 10%;
}